{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center">{% block title %}Add Maintenance{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form class="row g-2" method="post">
    <div class="col-md-3">
      <label for="date" class="form-label">Date</label>
      <input type="date" class="form-control" name="date" id="date" value="{{ request.form['date'] }}" required>
    </div>
    <div class="col-md-3">
      <label for="cost" class="form-label">Cost</label>
      <input type="number" min="0" max="100" step="0.01" class="form-control" name="cost" id="cost" placeholder="25.25" value="{{ request.form['cost'] }}" required>
    </div>
    <div class="col-md-3">
      <label for="mileage" class="form-label">Mileage</label>
      <input type="number" min="0" step="1" class="form-control" name="mileage" id="mileage" placeholder="75000" value="{{ request.form['mileage'] }}" required>
    </div>
    <div class="col-md-6">
      <label for="memo" class="form-label">Memo</label>
      <input class="form-control" name="memo" id="memo" placeholder="Memo" value="{{ request.form['memo'] }}" required>
    </div>
    <div class="col-md-3">
      <label for="type" class="form-label">Type</label>
      <input class="form-control" name="type" id="type" placeholder="Type" value="{{ request.form['type'] }}" required>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
{% endblock %}
