{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center">{% block title %}Add Vehicle{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form class="row g-2" method="post">
    <div class="col-md-6">
      <label for="name" class="form-label">Name</label>
      <input class="form-control" name="name" id="name" placeholder="Name" required>
    </div>
    <div class="col-md-6">
      <label for="vin" class="form-label">VIN</label>
      <input class="form-control" name="vin" id="vin" placeholder="Vehicle Identification Number" required>
    </div>
    <div class="col-md-3">
      <label for="licensePlate" class="form-label">License Plate</label>
      <input class="form-control" name="licensePlate" id="licensePlate" placeholder="1ABC234" required>
    </div>
    <div class="col-md-3">
      <label for="year" class="form-label">Year</label>
      <input class="form-control" name="year" id="year" placeholder="1969" required>
    </div>
    <div class="col-md-6">
      <label for="make" class="form-label">Make</label>
      <input class="form-control" name="make" id="make" placeholder="Ford" required>
    </div>
    <div class="col-md-6">
      <label for="model" class="form-label">Model</label>
      <input class="form-control" name="model" id="model" placeholder="Mustang" required>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
{% endblock %}
