{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center">{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form class="row g-2 justify-content-center" method="post">
    <div class="col-md-6">
      <label for="username" class="form-label">Username</label>
      <input class="form-control" name="username" id="username" placeholder="username" required>
    </div>
    <div class="w-100"></div>
    <div class="col-md-6">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
    </div>
    <div class="w-100"></div>
    <div class="col-md-6">
      <label for="firstName" class="form-label">First Name</label>
      <input class="form-control" name="firstName" id="firstName" placeholder="Carl" required>
    </div>
    <div class="w-100"></div>
    <div class="col-md-6">
      <label for="lastName" class="form-label">Last Name</label>
      <input class="form-control" name="lastName" id="lastName" placeholder="Sagan" required>
    </div>
    <div class="w-100"></div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
{% endblock %}
